#hero-list {
    list-style-type: none;
}

#hero-list li {
    display: flex;
    margin-bottom: 0.1rem;
}

#hero-list button {
    height: 1.4rem;
}

.benched-x {
    display: none;
}

.benched-hero {
    width: 100%;
    border: 1px solid black;
    border-radius: 15px;
}

.selected-hero {
    width: 80%;
    border: 1px solid black;
    border-radius: 15px 0 0 15px;

    font-weight: bold;
    color: green;
}

.selected-x {
    width: 20%;
    border: 1px solid black;
    border-left: 0;
    border-radius: 0 15px 15px 0;

    font-weight: bold;
    color: red;
}

#hero-list li:first-child button:first-child {
    width: 100%;
    border-radius: 15px;
    color: rgb(12, 100, 0);
}

#hero-list li:first-child button:last-child {
    display: none;
}
