* {
    margin: 0;
    padding: 0;
}

#selected-heroes {
    display: flex;
}

ul {
    list-style: none;
}

.portrait {
    width: 50px;
    height: 50px;
    margin: auto;

    border: 2px solid green;
}

.hero-panel {
    border: 2px solid red;
    padding: 10px;
    width: fit-content;
    margin: 5px;
}

li,
.lvl-controller {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

li {
    border-bottom: 1px solid black;
}

li .lvl-controller div {
    text-align: end;
    min-width: 2ch;
}

li:last-child,
section:last-child {
    border: none;
}

button {
    width: 1.2rem;
    height: 1.2rem;
}

section {
    border-bottom: 1px solid black;
}

section:nth-child(2) li {
    border: none;
}

section:nth-child(2) p {
    font-weight: normal;
    text-align: start;
}

h2,
p {
    text-align: center;
}

p {
    font-weight: bold;
}
